/*common style start*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

:root {
    --themeYellow: #f2ac20;            /*Creating CSS variable */
    --gray: #efefef;
    --red: #ad1313;
}

html{
    scroll-behavior: smooth;
}

button,
body{
    font-family: 'Poppins', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

p{
    font-size: 20px;
    line-height: 26px;
    text-align: center;
}

.fullContainer{
    width: 100%;
}

.container{
    width: 1400px;
    margin: auto;
}

.sectionTitle{
    width: 300px;
    border-bottom: 3px solid var(--themeYellow);
    text-align: center;
    font-size: 2rem;
    font-weight: 500;
    margin: 0 auto 50px;
    position: relative;
    padding: 10px 0;
    text-transform: uppercase;
}

.sectionTitle::after{
    display: inline-block;
    content: "";
    height: 15px;
    width: 15px;
    background-color: var(--themeYellow);
    position: absolute;
    left: calc(50% - 10px);
    top: calc(75% - 7px);
    transform: rotate(45deg) translate(50%, 50%);
    border: 3px solid #fff;
    
}

section{
    padding: 110px 0;
    position: relative;
}

header{
    width: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    z-index: 2;
}

header .container{
    display: flex;
    justify-content: space-between;
}

header .container .logo{
    padding: 15px o;
    height: 75px;
}

header .container .logo img{
    height: 100%;
}

header nav ul{
    list-style-type: none;

}

header nav ul li{
    display: inline-block;
}

header nav ul li a{
    display: inline-block;
    height: 75px;
    line-height: 75px;
    padding: 0 20px;
    text-decoration: none;
    text-transform: capitalize;
    font-size: 16px;
    color: white;
    transition: 0.3s;
}

header nav ul li a:hover{
    background-color: var(--themeYellow);  /*Use of CSS variable */
}

/*common style end*/
/*about style start*/

#aboutSection{
    padding-top: 120px;
}

.des{
    line-height: 30px;
}

#aboutSection .cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 100px;
    position: relative;
    height: 400px;
}

#aboutSection .cards > div{
    width: 350px;
    background-color: var(--gray);
    padding: 35px;
    color: #444;
    text-align: center;
    border-radius: 15px;
    height: 360px;
    border: 1px solid #ccc;
    transition: 0.4s;
}

#aboutSection .cards >div:hover{
    width: 400px;
    margin-top: -20px;
    border-color: var(--themeYellow);
    padding: 55px;
    height: auto;
}

#aboutSection .cards > div .title{
    font-size: 18px;
    font-weight: 600;
    text-transform: uppercase;
}

#aboutSection .cards > div p{
    font-size: 14px;
    margin-top: 15px;
}

#aboutSection .cards > div button{
    border: 1px solid var(--themeYellow);
    outline: #f2ac20;
    padding: 7px 15px;
    margin-top: 15px;
    font-size: 12px;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
}

#aboutSection .cards > div:hover button{
    background-color: var(--themeYellow);
    color: #444;
}

/*about style end*/